<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ian Mulvany" />
   <link rel='me' href='http://www.google.com/profiles/ian.mulvany'>
   <!-- <link href="http://feeds.feedburner.com/hackerific" rel="alternate" title="Matt Foster" type="application/atom+xml" /> -->

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
   <script type="text/javascript" src="/mathjax/MathJax.js"></script> 
   
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a class = "banner" href="/">direct-graph</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/tags.html">tags</a>
    <a class="extra" href="/about.html">about</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Ian Mulvany
      </p>
    </div>
    <div class="contact xoxo">
        <p>
            <a href="http://www.mulvany.net" rel="me">mulvany.net</a>
            <a href="http://flickr.com/photos/mulvanynet" rel="me">flickr</a>
            <a href="http://uk.linkedin.com/pub/ian-mulvany/5/983/389" rel="me">LinkedIn</a>
            <a href="http://www.mendeley.com/profiles/ian-mulvany/edit/ " rel="me">Mendeley</a>
            <a href="http://twitter.com/ianmulvany" rel="me">twitter</a>
        </p>
    </div>
   <!-- <div class="rss">
      <a href="http://feeds.feedburner.com/hackerific"><img src="http://feeds.feedburner.com/~fc/hackerific?bg=FFFFFF&amp;fg=444444&amp;anim=1" height="26" width="88" style="border:0" alt="" /></a>
    </div> -->
  </div>
</div>

</body>
</html>
